.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5e4485;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0;
}
.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: #fff;
  background-color: #5e4485;
}
.navbar-inverse .navbar-nav li a {
  color: #d5d5d5;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.btn {
  font-size: 18px;
  color: #fff;
  padding-left: 12px 22px;
  background-color: #5e4485;
  border: 2px solid #fff;
}
.container {
  margin: 4% auto;
}
#icon {
  max-width: 200px;
  margin: 1% auto;
}
footer {
  width: 100%;
  background-color: #5e4485;
  padding: 5%;
  color: #fff;
}
.fa {
  padding: 20px;
  font-size: 30px;
  color: #fff;
}
.fa:hover {
  color: #d5d5d5
}
.nouline:hover {
  text-decoration: none;
}
@media (max-width: 576px) {
  .carousel-caption{
    display: none;
  }
  #icon {
    max-width: 150px;
  }
  h4 {
    font-size: 0.9em;
  }
  h2 {
    font-size: 1.7em;
  }
}
@media (max-width: 900px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}
